.home-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: inherit;
  text-align: left;
}
.particles-container {
  overflow: hidden;
  position: absolute;
  top: 6.5vh;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
}

.typewriter h2 {
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@media (max-width: 991px) {
  .particles-container {
    /* display: none; */
    transform: translate(-999px, 0px);
  }
}

@media (min-width: 992px) {
  .particles-container {
    /* display: initial; */
  }
}
